h1 {
    font-family: 'MerchantLedger';
    font-size: 2.3rem;
    padding-top: 2rem;
}

p {
    font-family: 'MerchantLedger-Thin';
    font-size: 1.3rem;
}

.section-content {
    width: 100%;
    height: calc(100vh - 100px);
    background-color: transparent;
    max-width: 1200px;
    margin: 0 auto;
}

.boxes {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 1rem;
}

.box {
    width: 100%;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
}

@media (max-width: 1400px) {
    .section-content {
        max-width: 900px;
    }
}

@media (max-width: 970px) {
    .section-content {
        max-width: 800px;
    }
}

@media (max-width: 760px) {
    .boxes {
        flex-direction: column;
    }
    .box {
        height: 50%;
    }
    h1 {
        font-size: 1.4rem;
        padding-top: 0.8rem;
    }
    p {
        font-size: 0.8rem;
    }
    #image-form {
        height: 0%;
    }
    #form-mobile {
        height: 100%;
    }
}