* {
    font-family: 'msyi';
}

h1 {
    font-family: 'CasamentoMachine';
    font-size: 2rem;
    padding-bottom: 2rem;
    text-align: center
}

p {
    font-family: 'msyi';
    font-size: 1.5rem;
    text-align: justify;
    text-indent: 5rem;
}

a {
    color: black;
}

.section-content {
    width: 100%;
    height: auto;
    background-color: transparent;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 2rem;
}

.boxes {
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.box {
    width: 100%;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    padding: 1rem;
}

.adjust_text p {
    text-indent: 0;
    text-align: justify;
}

#section1,
#section3 {
    max-width: 800px;
}

#section2 h1,
#section4 h1 {
    text-align: left;
}

@media (max-width: 970px) {
    .section-content {
        max-width: 800px;
    }
}

@media (max-width: 640px) {
    .boxes {
        flex-direction: column;
    }
    h1 {
        font-size: 1.7rem;
    }
    p {
        font-size: 1.4rem;
    }
    .section-content {
        padding: 0 10px;
    }
    .box {
        padding: 0;
        padding-bottom: 1rem;
    }
    .maps {
        padding-bottom: 0;
    }
}