/* Barra de navegação */

.nav {
    background-color: rgb(229, 208, 174);
    position: sticky;
    height: 100px;
    top: 0px;
    width: 100%;
    z-index: 10000;
    font-family: 'MerchantLedger';
}

.nav-content {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav-items {
    font-size: 1.4rem;
    display: flex;
    color: rgb(68, 59, 52);
    column-gap: 2rem;
    list-style: none;
}

.nav-logo {
    height: 90px;
    width: 90px;
}

.nav-logo:hover {
    cursor: pointer;
}

.nav-item:hover {
    cursor: pointer;
}

@media (max-width: 1400px) {
    .nav-logo {
        height: 70px;
        width: 70px;
        position: center;
    }
    .nav-content {
        max-width: 1000px;
    }
    .nav-items {
        font-size: 1.1rem;
        column-gap: 2rem;
    }
}

@media (max-width: 970px) {
    .nav-content {
        max-width: 800px;
    }
}

@media (max-width: 760px) {
    .nav-logo {
        height: 50px;
        width: 50px;
        position: center;
    }
    .nav-content {
        text-align: center;
        flex-direction: column;
        max-width: 600px;
        justify-content: space-evenly
    }
    .nav-items {
        font-size: 1.1rem;
        column-gap: 1.8rem;
    }
}

@media (max-width: 640px) {
    .nav-content {
        width: 100%;
    }
    .nav-items {
        font-size: 1rem;
        column-gap: 1rem;
    }
}

@media (max-width: 510px) {
    .nav-items {
        font-size: 0.8rem;
        column-gap: 1rem;
    }
}