@media screen and (min-width: 300px) {
    .footer-logo {
        height: 10vw;
        width: 10vw;
    }
}

@media screen and (min-width: 700px) {
    .footer-logo {
        height: 6vw;
        width: 6vw;
    }
}