.form-container {
    display: grid;
    justify-items: center;
}

.formbox {
    width: 90%;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(99, 98, 107, 0.5) transparent;
}

.formbox::-webkit-scrollbar {
    width: 6px;
}

.formbox::-webkit-scrollbar-track {
    background: transparent;
}

.formbox::-webkit-scrollbar-thumb {
    background-color: rgba(99, 98, 107, 0.5);
    border-radius: 20px;
    border: 3px solid transparent;
}

.formbox input {
    border: none;
    outline: none;
    background-color: transparent;
    color: rgb(68, 59, 52);
    line-height: 2.3;
    width: 100%;
    float: left;
    border-bottom: 1px solid rgb(68, 59, 52);
    font-family: 'msyi';
    font-size: 1.5rem;
}

#form-number-invited {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ipt-number-invited {
    border-bottom: none;
    width: 60%;
    text-align: left;
    /* border: solid 1px #bf2f0f;*/
}

#header-invited {
    font-size: 1.3rem;
    padding: 0;
}

#container-all-invited {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loading {
    font-size: 50px;
    padding: 10px;
    animation: is-rotating 1.5s infinite;
}

@keyframes is-rotating {
    to {
        transform: rotate(1turn);
    }
}

input[type=number]::-webkit-inner-spin-button {
    all: unset;
    min-width: 21px;
    min-height: 45px;
    margin: 30px;
    padding: 0;
    background-image: linear-gradient(to top, transparent 0px, transparent 16px, #f9f7ef 16px, #f9f7ef 26px, transparent 26px, transparent 35px, #000 35px, #000 36px, transparent 36px, transparent 40px), linear-gradient(to right, transparent 0px, transparent 10px, #000 10px, #000 11px, transparent 11px, transparent 21px);
    transform: rotate(90deg) scale(0.8, 0.9);
    cursor: pointer;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(68, 59, 52);
    opacity: 1;
    /* Firefox */
}

.container-invited {
    height: auto;
    width: 100%;
    padding-bottom: 20px;
}

.error-text {
    color: #bf2f0f;
    padding: 1rem;
}

.mensagem-text {
    padding: 1rem;
}

@media (max-width: 760px) {
    #header-invited {
        font-size: 0.8rem;
    }
    .formbox input {
        font-size: 0.8rem;
    }
    #container-all-invited {
        max-height: 62vh;
    }
}