/* Definiçoes do mapa*/

.leaflet-container {
    width: 100%;
    height: 100%;
}


/* DEFINIÇÂO DE FONTE */

body {
    font-size: 14px;
}


/* BASE BOTÂO */

.btn {
    width: 30%;
    background-color: #b25f51;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-family: 'msyi';
    font-size: 1.5rem;
    cursor: pointer;
    margin: 20px;
}

.btn:hover {
    background-color: #272d29;
    color: #fff;
    transition: .5s;
}

.btn:active {
    background-color: #272d29;
    color: #0f47bf;
}

@media (max-width: 640px) {
    .btn {
        font-size: 1rem;
    }
}