/*Inicia o site*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    min-height: calc(100vh - var(--bodyPaddingTop));
    display: flex;
    flex-direction: column;
}

:root {
    background-color: rgb(255, 252, 240);
    background-image: url(../src/assets/flores2.png);
    background-attachment: fixed;
}