/*Inicia o site*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    min-height: calc(100vh - var(--bodyPaddingTop));
    display: flex;
    flex-direction: column;
}

:root {
    background-color: rgb(255, 252, 240);
    background-image: url(../src/assets/fundo_web.png);
    background-attachment: fixed;
}


/* fontes*/

@font-face {
    font-family: 'MerchantLedger';
    src: url('./fonts/MerchantLedger.ttf') format('truetype')
}

@font-face {
    font-family: 'MerchantLedger-Thin';
    src: url('./fonts/MerchantLedger-Thin.ttf') format('truetype')
}

@font-face {
    font-family: 'MerchantLedger-Rough';
    src: url('./fonts/MerchantLedger-Rough.ttf') format('truetype')
}

@font-face {
    font-family: 'MerchantLedger-RoughThin';
    src: url('./fonts/MerchantLedger-RoughThin.ttf') format('truetype')
}

@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('./fonts/MyriadPro-Regular.otf') format('opentype')
}

@font-face {
    font-family: 'msyi';
    src: url('./fonts/msyi.ttf') format('truetype')
}