/*Inicia o site*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    min-height: calc(100vh - var(--bodyPaddingTop));
    display: flex;
    flex-direction: column;
}

:root {
    background-color: #ffffff;
    background-image: url(../src/assets/fundo_web.png);
    background-attachment: fixed;
}


/* fontes*/

@font-face {
    font-family: 'msyi';
    src: url('./fonts/msyi.ttf') format('truetype')
}

@font-face {
    font-family: 'CasamentoMachine';
    src: url('./fonts/CasamentoMachine.otf') format('opentype')
}